=begin
#smplkit Logging API

#API for the smplkit logging service.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Logging
  class LogGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Log Group
    # Create a new log group. The caller provides the key in data.id, or it is auto-generated from name.
    # @param log_group_response [LogGroupResponse] 
    # @param [Hash] opts the optional parameters
    # @return [LogGroupResponse]
    def create_log_group(log_group_response, opts = {})
      data, _status_code, _headers = create_log_group_with_http_info(log_group_response, opts)
      data
    end

    # Create Log Group
    # Create a new log group. The caller provides the key in data.id, or it is auto-generated from name.
    # @param log_group_response [LogGroupResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogGroupResponse, Integer, Hash)>] LogGroupResponse data, response status code and response headers
    def create_log_group_with_http_info(log_group_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogGroupsApi.create_log_group ...'
      end
      # verify the required parameter 'log_group_response' is set
      if @api_client.config.client_side_validation && log_group_response.nil?
        fail ArgumentError, "Missing the required parameter 'log_group_response' when calling LogGroupsApi.create_log_group"
      end
      # resource path
      local_var_path = '/api/v1/log_groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(log_group_response)

      # return_type
      return_type = opts[:debug_return_type] || 'LogGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LogGroupsApi.create_log_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogGroupsApi#create_log_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Log Group
    # Delete a log group by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_log_group(id, opts = {})
      delete_log_group_with_http_info(id, opts)
      nil
    end

    # Delete Log Group
    # Delete a log group by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_log_group_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogGroupsApi.delete_log_group ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogGroupsApi.delete_log_group"
      end
      # resource path
      local_var_path = '/api/v1/log_groups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LogGroupsApi.delete_log_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogGroupsApi#delete_log_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Log Group
    # Return a log group by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LogGroupResponse]
    def get_log_group(id, opts = {})
      data, _status_code, _headers = get_log_group_with_http_info(id, opts)
      data
    end

    # Get Log Group
    # Return a log group by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogGroupResponse, Integer, Hash)>] LogGroupResponse data, response status code and response headers
    def get_log_group_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogGroupsApi.get_log_group ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogGroupsApi.get_log_group"
      end
      # resource path
      local_var_path = '/api/v1/log_groups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LogGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LogGroupsApi.get_log_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogGroupsApi#get_log_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Log Groups
    # List all log groups for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @return [LogGroupListResponse]
    def list_log_groups(opts = {})
      data, _status_code, _headers = list_log_groups_with_http_info(opts)
      data
    end

    # List Log Groups
    # List all log groups for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogGroupListResponse, Integer, Hash)>] LogGroupListResponse data, response status code and response headers
    def list_log_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogGroupsApi.list_log_groups ...'
      end
      # resource path
      local_var_path = '/api/v1/log_groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LogGroupListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LogGroupsApi.list_log_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogGroupsApi#list_log_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Log Group
    # Replace a log group entirely.
    # @param id [String] 
    # @param log_group_response [LogGroupResponse] 
    # @param [Hash] opts the optional parameters
    # @return [LogGroupResponse]
    def update_log_group(id, log_group_response, opts = {})
      data, _status_code, _headers = update_log_group_with_http_info(id, log_group_response, opts)
      data
    end

    # Update Log Group
    # Replace a log group entirely.
    # @param id [String] 
    # @param log_group_response [LogGroupResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogGroupResponse, Integer, Hash)>] LogGroupResponse data, response status code and response headers
    def update_log_group_with_http_info(id, log_group_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogGroupsApi.update_log_group ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogGroupsApi.update_log_group"
      end
      # verify the required parameter 'log_group_response' is set
      if @api_client.config.client_side_validation && log_group_response.nil?
        fail ArgumentError, "Missing the required parameter 'log_group_response' when calling LogGroupsApi.update_log_group"
      end
      # resource path
      local_var_path = '/api/v1/log_groups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(log_group_response)

      # return_type
      return_type = opts[:debug_return_type] || 'LogGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LogGroupsApi.update_log_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogGroupsApi#update_log_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
