=begin
#smplkit Logging API

#API for the smplkit logging service.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Logging
  class LoggerSourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List All Logger Sources
    # List every logger source observation for this account.  Supports `filter[environment]` and `filter[service]` to narrow to a specific environment or service.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_environment 
    # @option opts [String] :filter_service 
    # @return [LoggerSourceListResponse]
    def list_all_logger_sources(opts = {})
      data, _status_code, _headers = list_all_logger_sources_with_http_info(opts)
      data
    end

    # List All Logger Sources
    # List every logger source observation for this account.  Supports &#x60;filter[environment]&#x60; and &#x60;filter[service]&#x60; to narrow to a specific environment or service.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_environment 
    # @option opts [String] :filter_service 
    # @return [Array<(LoggerSourceListResponse, Integer, Hash)>] LoggerSourceListResponse data, response status code and response headers
    def list_all_logger_sources_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggerSourcesApi.list_all_logger_sources ...'
      end
      # resource path
      local_var_path = '/api/v1/logger_sources'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[environment]'] = opts[:'filter_environment'] if !opts[:'filter_environment'].nil?
      query_params[:'filter[service]'] = opts[:'filter_service'] if !opts[:'filter_service'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerSourceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggerSourcesApi.list_all_logger_sources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggerSourcesApi#list_all_logger_sources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Logger Sources
    # List the service / environment observations recorded for a logger.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerSourceListResponse]
    def list_logger_sources(id, opts = {})
      data, _status_code, _headers = list_logger_sources_with_http_info(id, opts)
      data
    end

    # List Logger Sources
    # List the service / environment observations recorded for a logger.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerSourceListResponse, Integer, Hash)>] LoggerSourceListResponse data, response status code and response headers
    def list_logger_sources_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggerSourcesApi.list_logger_sources ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggerSourcesApi.list_logger_sources"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}/sources'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerSourceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggerSourcesApi.list_logger_sources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggerSourcesApi#list_logger_sources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
