=begin
#smplkit Logging API

#API for the smplkit logging service.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Logging
  class LoggersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Register Loggers
    # Register loggers discovered by an SDK. Creates new loggers or updates source observations on existing ones.
    # @param logger_bulk_request [LoggerBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerBulkResponse]
    def bulk_register_loggers(logger_bulk_request, opts = {})
      data, _status_code, _headers = bulk_register_loggers_with_http_info(logger_bulk_request, opts)
      data
    end

    # Bulk Register Loggers
    # Register loggers discovered by an SDK. Creates new loggers or updates source observations on existing ones.
    # @param logger_bulk_request [LoggerBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerBulkResponse, Integer, Hash)>] LoggerBulkResponse data, response status code and response headers
    def bulk_register_loggers_with_http_info(logger_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.bulk_register_loggers ...'
      end
      # verify the required parameter 'logger_bulk_request' is set
      if @api_client.config.client_side_validation && logger_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'logger_bulk_request' when calling LoggersApi.bulk_register_loggers"
      end
      # resource path
      local_var_path = '/api/v1/loggers/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(logger_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerBulkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.bulk_register_loggers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#bulk_register_loggers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Logger
    # Delete a logger by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_logger(id, opts = {})
      delete_logger_with_http_info(id, opts)
      nil
    end

    # Delete Logger
    # Delete a logger by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_logger_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.delete_logger ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggersApi.delete_logger"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.delete_logger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#delete_logger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Logger
    # Return a logger by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerResponse]
    def get_logger(id, opts = {})
      data, _status_code, _headers = get_logger_with_http_info(id, opts)
      data
    end

    # Get Logger
    # Return a logger by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerResponse, Integer, Hash)>] LoggerResponse data, response status code and response headers
    def get_logger_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.get_logger ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggersApi.get_logger"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.get_logger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#get_logger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Loggers
    # List all loggers for the authenticated account. Optionally filter by managed status, service, or last-seen time window.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :filter_managed 
    # @option opts [String] :filter_service 
    # @option opts [String] :filter_last_seen 
    # @return [LoggerListResponse]
    def list_loggers(opts = {})
      data, _status_code, _headers = list_loggers_with_http_info(opts)
      data
    end

    # List Loggers
    # List all loggers for the authenticated account. Optionally filter by managed status, service, or last-seen time window.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :filter_managed 
    # @option opts [String] :filter_service 
    # @option opts [String] :filter_last_seen 
    # @return [Array<(LoggerListResponse, Integer, Hash)>] LoggerListResponse data, response status code and response headers
    def list_loggers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.list_loggers ...'
      end
      # resource path
      local_var_path = '/api/v1/loggers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[managed]'] = opts[:'filter_managed'] if !opts[:'filter_managed'].nil?
      query_params[:'filter[service]'] = opts[:'filter_service'] if !opts[:'filter_service'].nil?
      query_params[:'filter[last_seen]'] = opts[:'filter_last_seen'] if !opts[:'filter_last_seen'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.list_loggers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#list_loggers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or Create Logger
    # Create or update a logger (upsert). If the logger does not exist it is created. Fields absent from the body are preserved on update; explicit null clears them.
    # @param id [String] 
    # @param logger_response [LoggerResponse] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerResponse]
    def update_logger(id, logger_response, opts = {})
      data, _status_code, _headers = update_logger_with_http_info(id, logger_response, opts)
      data
    end

    # Update or Create Logger
    # Create or update a logger (upsert). If the logger does not exist it is created. Fields absent from the body are preserved on update; explicit null clears them.
    # @param id [String] 
    # @param logger_response [LoggerResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerResponse, Integer, Hash)>] LoggerResponse data, response status code and response headers
    def update_logger_with_http_info(id, logger_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.update_logger ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggersApi.update_logger"
      end
      # verify the required parameter 'logger_response' is set
      if @api_client.config.client_side_validation && logger_response.nil?
        fail ArgumentError, "Missing the required parameter 'logger_response' when calling LoggersApi.update_logger"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(logger_response)

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.update_logger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#update_logger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
