=begin
#smplkit Logging API

#API for the smplkit logging service.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Logging
  class LoggersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Register Loggers
    # Register loggers discovered by an SDK.  Creates new logger entries for previously unseen keys and refreshes the per-(service, environment) observation for keys already known. Returns the number of items processed.
    # @param logger_bulk_request [LoggerBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerBulkResponse]
    def bulk_register_loggers(logger_bulk_request, opts = {})
      data, _status_code, _headers = bulk_register_loggers_with_http_info(logger_bulk_request, opts)
      data
    end

    # Bulk Register Loggers
    # Register loggers discovered by an SDK.  Creates new logger entries for previously unseen keys and refreshes the per-(service, environment) observation for keys already known. Returns the number of items processed.
    # @param logger_bulk_request [LoggerBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerBulkResponse, Integer, Hash)>] LoggerBulkResponse data, response status code and response headers
    def bulk_register_loggers_with_http_info(logger_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.bulk_register_loggers ...'
      end
      # verify the required parameter 'logger_bulk_request' is set
      if @api_client.config.client_side_validation && logger_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'logger_bulk_request' when calling LoggersApi.bulk_register_loggers"
      end
      # resource path
      local_var_path = '/api/v1/loggers/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(logger_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerBulkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.bulk_register_loggers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#bulk_register_loggers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Logger
    # Delete a logger.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_logger(id, opts = {})
      delete_logger_with_http_info(id, opts)
      nil
    end

    # Delete Logger
    # Delete a logger.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_logger_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.delete_logger ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggersApi.delete_logger"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.delete_logger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#delete_logger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Logger
    # Retrieve a logger by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerResponse]
    def get_logger(id, opts = {})
      data, _status_code, _headers = get_logger_with_http_info(id, opts)
      data
    end

    # Get Logger
    # Retrieve a logger by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerResponse, Integer, Hash)>] LoggerResponse data, response status code and response headers
    def get_logger_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.get_logger ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggersApi.get_logger"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.get_logger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#get_logger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Loggers
    # List loggers for this account.  Default sort is `key` ascending. Supports `filter[managed]` to narrow to managed (or unmanaged) loggers, `filter[service]` to keep only loggers observed in a specific service, `filter[last_seen]` (interval notation `[<from>,*)`) to keep only loggers with a source observation at or after the given timestamp, and `filter[search]` for a case-insensitive substring match against `key` or `name`.  ``filter[service]`` and ``filter[last_seen]`` are applied via a cross-table membership check in Python after the SQL fetch, so pagination for those calls is applied in memory after the filter; the common path (no source-bound filter) paginates at the SQL level.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :filter_managed 
    # @option opts [String] :filter_service 
    # @option opts [String] :filter_last_seen 
    # @option opts [String] :filter_search Case-insensitive substring match against the logger &#x60;key&#x60; and &#x60;name&#x60;. A logger is returned if either field contains the search term.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [LoggerListResponse]
    def list_loggers(opts = {})
      data, _status_code, _headers = list_loggers_with_http_info(opts)
      data
    end

    # List Loggers
    # List loggers for this account.  Default sort is &#x60;key&#x60; ascending. Supports &#x60;filter[managed]&#x60; to narrow to managed (or unmanaged) loggers, &#x60;filter[service]&#x60; to keep only loggers observed in a specific service, &#x60;filter[last_seen]&#x60; (interval notation &#x60;[&lt;from&gt;,*)&#x60;) to keep only loggers with a source observation at or after the given timestamp, and &#x60;filter[search]&#x60; for a case-insensitive substring match against &#x60;key&#x60; or &#x60;name&#x60;.  &#x60;&#x60;filter[service]&#x60;&#x60; and &#x60;&#x60;filter[last_seen]&#x60;&#x60; are applied via a cross-table membership check in Python after the SQL fetch, so pagination for those calls is applied in memory after the filter; the common path (no source-bound filter) paginates at the SQL level.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :filter_managed 
    # @option opts [String] :filter_service 
    # @option opts [String] :filter_last_seen 
    # @option opts [String] :filter_search Case-insensitive substring match against the logger &#x60;key&#x60; and &#x60;name&#x60;. A logger is returned if either field contains the search term.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [Array<(LoggerListResponse, Integer, Hash)>] LoggerListResponse data, response status code and response headers
    def list_loggers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.list_loggers ...'
      end
      allowable_values = ["created_at", "-created_at", "key", "-key", "name", "-name", "updated_at", "-updated_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/loggers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[managed]'] = opts[:'filter_managed'] if !opts[:'filter_managed'].nil?
      query_params[:'filter[service]'] = opts[:'filter_service'] if !opts[:'filter_service'].nil?
      query_params[:'filter[last_seen]'] = opts[:'filter_last_seen'] if !opts[:'filter_last_seen'].nil?
      query_params[:'filter[search]'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page[number]'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'meta[total]'] = opts[:'meta_total'] if !opts[:'meta_total'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.list_loggers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#list_loggers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or Create Logger
    # Create or replace a logger at the given key.  If the logger does not yet exist, it is created. Fields omitted from the request body are preserved; explicit `null` clears them. Setting `level`, `group`, or `environments` on an unmanaged logger promotes it to managed automatically.
    # @param id [String] 
    # @param logger_request [LoggerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LoggerResponse]
    def update_logger(id, logger_request, opts = {})
      data, _status_code, _headers = update_logger_with_http_info(id, logger_request, opts)
      data
    end

    # Update or Create Logger
    # Create or replace a logger at the given key.  If the logger does not yet exist, it is created. Fields omitted from the request body are preserved; explicit &#x60;null&#x60; clears them. Setting &#x60;level&#x60;, &#x60;group&#x60;, or &#x60;environments&#x60; on an unmanaged logger promotes it to managed automatically.
    # @param id [String] 
    # @param logger_request [LoggerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoggerResponse, Integer, Hash)>] LoggerResponse data, response status code and response headers
    def update_logger_with_http_info(id, logger_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoggersApi.update_logger ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoggersApi.update_logger"
      end
      # verify the required parameter 'logger_request' is set
      if @api_client.config.client_side_validation && logger_request.nil?
        fail ArgumentError, "Missing the required parameter 'logger_request' when calling LoggersApi.update_logger"
      end
      # resource path
      local_var_path = '/api/v1/loggers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(logger_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LoggerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"LoggersApi.update_logger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoggersApi#update_logger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
