/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
.ruby-gemset
.rspec_status
Gemfile.lock
.byebug_history
.idea/
.DS_Store
node_modules/
.steep_cache/
/vendor/bundle/
.claude/
