=begin
#smplkit Audit API

#Append-only change-history substrate for smpl.* resources and customer-application events. ADR-047.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Audit
  class ExportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Export
    # Mint a short-lived signed URL to stream an events download.  The request body specifies `format` (`CSV` or `JSONL`) and any subset of the event filters accepted by `GET /api/v1/events`. The response returns the signed URL plus its expiry (30 seconds from mint). Open the URL in a browser to stream the file to disk; no `Authorization` header is required at download time.  Filter rules match `GET /api/v1/events`: `filter[resource_id]` requires `filter[resource_type]`; `filter[search]` requires either `filter[occurred_at]` or `filter[resource_type]` + `filter[resource_id]`. Violations are rejected here at mint time.  Reads are allowed on lapsed subscriptions per the smplcore convention — same gate as the events list.
    # @param export_request [ExportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExportResponse]
    def create_export(export_request, opts = {})
      data, _status_code, _headers = create_export_with_http_info(export_request, opts)
      data
    end

    # Create Export
    # Mint a short-lived signed URL to stream an events download.  The request body specifies &#x60;format&#x60; (&#x60;CSV&#x60; or &#x60;JSONL&#x60;) and any subset of the event filters accepted by &#x60;GET /api/v1/events&#x60;. The response returns the signed URL plus its expiry (30 seconds from mint). Open the URL in a browser to stream the file to disk; no &#x60;Authorization&#x60; header is required at download time.  Filter rules match &#x60;GET /api/v1/events&#x60;: &#x60;filter[resource_id]&#x60; requires &#x60;filter[resource_type]&#x60;; &#x60;filter[search]&#x60; requires either &#x60;filter[occurred_at]&#x60; or &#x60;filter[resource_type]&#x60; + &#x60;filter[resource_id]&#x60;. Violations are rejected here at mint time.  Reads are allowed on lapsed subscriptions per the smplcore convention — same gate as the events list.
    # @param export_request [ExportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExportResponse, Integer, Hash)>] ExportResponse data, response status code and response headers
    def create_export_with_http_info(export_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExportsApi.create_export ...'
      end
      # verify the required parameter 'export_request' is set
      if @api_client.config.client_side_validation && export_request.nil?
        fail ArgumentError, "Missing the required parameter 'export_request' when calling ExportsApi.create_export"
      end
      # resource path
      local_var_path = '/api/v1/exports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(export_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ExportsApi.create_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExportsApi#create_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Export
    # Stream a signed audit-events download — no `Authorization` header required.  Authorization is the token itself: it carries the account, the chosen format, and the filters, all integrity-protected by HMAC. The endpoint verifies the signature and expiry, scopes the events query to the token's account, and streams the response.  Any failure (bad signature, wrong audience, expired, malformed payload) returns `404 Not Found` — the response shape never leaks which check failed.  The token is stateless and replayable until it expires (≤30s). Concurrent or duplicate GETs (browser retries, AV scanners, prefetchers) all succeed; there is no single-use behavior.
    # @param token [String] Opaque signed download token from &#x60;POST /api/v1/exports&#x60;. Treat as a single short-lived URL — do not parse or store long-term.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_export(token, opts = {})
      download_export_with_http_info(token, opts)
      nil
    end

    # Download Export
    # Stream a signed audit-events download — no &#x60;Authorization&#x60; header required.  Authorization is the token itself: it carries the account, the chosen format, and the filters, all integrity-protected by HMAC. The endpoint verifies the signature and expiry, scopes the events query to the token&#39;s account, and streams the response.  Any failure (bad signature, wrong audience, expired, malformed payload) returns &#x60;404 Not Found&#x60; — the response shape never leaks which check failed.  The token is stateless and replayable until it expires (≤30s). Concurrent or duplicate GETs (browser retries, AV scanners, prefetchers) all succeed; there is no single-use behavior.
    # @param token [String] Opaque signed download token from &#x60;POST /api/v1/exports&#x60;. Treat as a single short-lived URL — do not parse or store long-term.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_export_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExportsApi.download_export ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling ExportsApi.download_export"
      end
      # resource path
      local_var_path = '/api/v1/exports/{token}'.sub('{token}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExportsApi.download_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExportsApi#download_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
