=begin
#smplkit Audit API

#Append-only change-history substrate for smpl.* resources and customer-application events. ADR-047.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Audit
  class ForwardersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Forwarder
    # Create a forwarder. Requires the ``audit.siem_streaming`` entitlement on the account; lower-tier accounts get 402.
    # @param forwarder_response [ForwarderResponse] 
    # @param [Hash] opts the optional parameters
    # @return [ForwarderResponse]
    def create_forwarder(forwarder_response, opts = {})
      data, _status_code, _headers = create_forwarder_with_http_info(forwarder_response, opts)
      data
    end

    # Create Forwarder
    # Create a forwarder. Requires the &#x60;&#x60;audit.siem_streaming&#x60;&#x60; entitlement on the account; lower-tier accounts get 402.
    # @param forwarder_response [ForwarderResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwarderResponse, Integer, Hash)>] ForwarderResponse data, response status code and response headers
    def create_forwarder_with_http_info(forwarder_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.create_forwarder ...'
      end
      # verify the required parameter 'forwarder_response' is set
      if @api_client.config.client_side_validation && forwarder_response.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_response' when calling ForwardersApi.create_forwarder"
      end
      # resource path
      local_var_path = '/api/v1/forwarders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(forwarder_response)

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.create_forwarder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#create_forwarder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Forwarder
    # Soft-delete a forwarder. Delivery rows are retained per the normal forwarder_delivery retention; a future create with the same slug is allowed (the unique index is partial on deleted_at IS NULL).
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_forwarder(forwarder_id, opts = {})
      delete_forwarder_with_http_info(forwarder_id, opts)
      nil
    end

    # Delete Forwarder
    # Soft-delete a forwarder. Delivery rows are retained per the normal forwarder_delivery retention; a future create with the same slug is allowed (the unique index is partial on deleted_at IS NULL).
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_forwarder_with_http_info(forwarder_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.delete_forwarder ...'
      end
      # verify the required parameter 'forwarder_id' is set
      if @api_client.config.client_side_validation && forwarder_id.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_id' when calling ForwardersApi.delete_forwarder"
      end
      # resource path
      local_var_path = '/api/v1/forwarders/{forwarder_id}'.sub('{forwarder_id}', CGI.escape(forwarder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.delete_forwarder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#delete_forwarder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute Test Forwarder
    # Execute a prepared HTTP request server-side and return the response.  The same SSRF guard that gates the in-line forwarder loop is applied here — internal/private addresses, link-local IPs (including the EC2 metadata service at 169.254.169.254), unique-local IPv6, and ports outside the configured allowlist are all rejected.
    # @param test_forwarder_request [TestForwarderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TestForwarderResponse]
    def execute_test_forwarder(test_forwarder_request, opts = {})
      data, _status_code, _headers = execute_test_forwarder_with_http_info(test_forwarder_request, opts)
      data
    end

    # Execute Test Forwarder
    # Execute a prepared HTTP request server-side and return the response.  The same SSRF guard that gates the in-line forwarder loop is applied here — internal/private addresses, link-local IPs (including the EC2 metadata service at 169.254.169.254), unique-local IPv6, and ports outside the configured allowlist are all rejected.
    # @param test_forwarder_request [TestForwarderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestForwarderResponse, Integer, Hash)>] TestForwarderResponse data, response status code and response headers
    def execute_test_forwarder_with_http_info(test_forwarder_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.execute_test_forwarder ...'
      end
      # verify the required parameter 'test_forwarder_request' is set
      if @api_client.config.client_side_validation && test_forwarder_request.nil?
        fail ArgumentError, "Missing the required parameter 'test_forwarder_request' when calling ForwardersApi.execute_test_forwarder"
      end
      # resource path
      local_var_path = '/api/v1/functions/test_forwarder/actions/execute'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(test_forwarder_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TestForwarderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.execute_test_forwarder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#execute_test_forwarder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Forwarder
    # Retrieve a single forwarder by id.  Returns 404 if no forwarder with that id exists in the caller's account, including if the forwarder is soft-deleted. Header values in the response are returned in plaintext so callers can perform a GET-modify-PUT round-trip without re-entering secrets (ADR-014). The persisted ``forwarder_delivery.request`` log column is what keeps redaction; that read path is unaffected by this route.
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ForwarderResponse]
    def get_forwarder(forwarder_id, opts = {})
      data, _status_code, _headers = get_forwarder_with_http_info(forwarder_id, opts)
      data
    end

    # Get Forwarder
    # Retrieve a single forwarder by id.  Returns 404 if no forwarder with that id exists in the caller&#39;s account, including if the forwarder is soft-deleted. Header values in the response are returned in plaintext so callers can perform a GET-modify-PUT round-trip without re-entering secrets (ADR-014). The persisted &#x60;&#x60;forwarder_delivery.request&#x60;&#x60; log column is what keeps redaction; that read path is unaffected by this route.
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwarderResponse, Integer, Hash)>] ForwarderResponse data, response status code and response headers
    def get_forwarder_with_http_info(forwarder_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.get_forwarder ...'
      end
      # verify the required parameter 'forwarder_id' is set
      if @api_client.config.client_side_validation && forwarder_id.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_id' when calling ForwardersApi.get_forwarder"
      end
      # resource path
      local_var_path = '/api/v1/forwarders/{forwarder_id}'.sub('{forwarder_id}', CGI.escape(forwarder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.get_forwarder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#get_forwarder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Forwarder Deliveries
    # List delivery rows for a forwarder.  Default sort is ``-created_at``. Cursor pagination via ``page[after]``. Filter by status (``succeeded`` / ``failed`` / ``filtered_out`` / ``skipped_do_not_forward``) or by a ``created_at`` range using the platform's interval notation (``[2026-01-01T00:00:00Z,*)``). Reads do not require the entitlement — a downgraded account can still inspect historical deliveries from when the forwarder was active.
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_status 
    # @option opts [String] :filter_created_at 
    # @option opts [Integer] :page_size 
    # @option opts [String] :page_after 
    # @return [ForwarderDeliveryListResponse]
    def list_forwarder_deliveries(forwarder_id, opts = {})
      data, _status_code, _headers = list_forwarder_deliveries_with_http_info(forwarder_id, opts)
      data
    end

    # List Forwarder Deliveries
    # List delivery rows for a forwarder.  Default sort is &#x60;&#x60;-created_at&#x60;&#x60;. Cursor pagination via &#x60;&#x60;page[after]&#x60;&#x60;. Filter by status (&#x60;&#x60;succeeded&#x60;&#x60; / &#x60;&#x60;failed&#x60;&#x60; / &#x60;&#x60;filtered_out&#x60;&#x60; / &#x60;&#x60;skipped_do_not_forward&#x60;&#x60;) or by a &#x60;&#x60;created_at&#x60;&#x60; range using the platform&#39;s interval notation (&#x60;&#x60;[2026-01-01T00:00:00Z,*)&#x60;&#x60;). Reads do not require the entitlement — a downgraded account can still inspect historical deliveries from when the forwarder was active.
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_status 
    # @option opts [String] :filter_created_at 
    # @option opts [Integer] :page_size 
    # @option opts [String] :page_after 
    # @return [Array<(ForwarderDeliveryListResponse, Integer, Hash)>] ForwarderDeliveryListResponse data, response status code and response headers
    def list_forwarder_deliveries_with_http_info(forwarder_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.list_forwarder_deliveries ...'
      end
      # verify the required parameter 'forwarder_id' is set
      if @api_client.config.client_side_validation && forwarder_id.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_id' when calling ForwardersApi.list_forwarder_deliveries"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ForwardersApi.list_forwarder_deliveries, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/forwarders/{forwarder_id}/deliveries'.sub('{forwarder_id}', CGI.escape(forwarder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[status]'] = opts[:'filter_status'] if !opts[:'filter_status'].nil?
      query_params[:'filter[created_at]'] = opts[:'filter_created_at'] if !opts[:'filter_created_at'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'page[after]'] = opts[:'page_after'] if !opts[:'page_after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderDeliveryListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.list_forwarder_deliveries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#list_forwarder_deliveries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Forwarders
    # List forwarders for the authenticated account.  Reads do not require the entitlement — a downgraded account can still inspect what they configured, they just can't create new ones.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_forwarder_type 
    # @option opts [Boolean] :filter_enabled 
    # @option opts [Integer] :page_size 
    # @option opts [String] :page_after 
    # @return [ForwarderListResponse]
    def list_forwarders(opts = {})
      data, _status_code, _headers = list_forwarders_with_http_info(opts)
      data
    end

    # List Forwarders
    # List forwarders for the authenticated account.  Reads do not require the entitlement — a downgraded account can still inspect what they configured, they just can&#39;t create new ones.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_forwarder_type 
    # @option opts [Boolean] :filter_enabled 
    # @option opts [Integer] :page_size 
    # @option opts [String] :page_after 
    # @return [Array<(ForwarderListResponse, Integer, Hash)>] ForwarderListResponse data, response status code and response headers
    def list_forwarders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.list_forwarders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ForwardersApi.list_forwarders, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/forwarders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[forwarder_type]'] = opts[:'filter_forwarder_type'] if !opts[:'filter_forwarder_type'].nil?
      query_params[:'filter[enabled]'] = opts[:'filter_enabled'] if !opts[:'filter_enabled'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'page[after]'] = opts[:'page_after'] if !opts[:'page_after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.list_forwarders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#list_forwarders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry Failed Forwarder Deliveries
    # Retry every failed delivery for the forwarder.  For each failed delivery row, re-attempt with the latest forwarder configuration and the original event payload. Returns counts.
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RetryFailedDeliveriesSummary]
    def retry_failed_forwarder_deliveries(forwarder_id, opts = {})
      data, _status_code, _headers = retry_failed_forwarder_deliveries_with_http_info(forwarder_id, opts)
      data
    end

    # Retry Failed Forwarder Deliveries
    # Retry every failed delivery for the forwarder.  For each failed delivery row, re-attempt with the latest forwarder configuration and the original event payload. Returns counts.
    # @param forwarder_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RetryFailedDeliveriesSummary, Integer, Hash)>] RetryFailedDeliveriesSummary data, response status code and response headers
    def retry_failed_forwarder_deliveries_with_http_info(forwarder_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.retry_failed_forwarder_deliveries ...'
      end
      # verify the required parameter 'forwarder_id' is set
      if @api_client.config.client_side_validation && forwarder_id.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_id' when calling ForwardersApi.retry_failed_forwarder_deliveries"
      end
      # resource path
      local_var_path = '/api/v1/forwarders/{forwarder_id}/actions/retry_failed_deliveries'.sub('{forwarder_id}', CGI.escape(forwarder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetryFailedDeliveriesSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.retry_failed_forwarder_deliveries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#retry_failed_forwarder_deliveries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry Forwarder Delivery
    # Retry a single failed delivery. Returns the new delivery row with its outcome. Prior delivery rows are not modified.
    # @param forwarder_id [String] 
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ForwarderDeliveryResponse]
    def retry_forwarder_delivery(forwarder_id, delivery_id, opts = {})
      data, _status_code, _headers = retry_forwarder_delivery_with_http_info(forwarder_id, delivery_id, opts)
      data
    end

    # Retry Forwarder Delivery
    # Retry a single failed delivery. Returns the new delivery row with its outcome. Prior delivery rows are not modified.
    # @param forwarder_id [String] 
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwarderDeliveryResponse, Integer, Hash)>] ForwarderDeliveryResponse data, response status code and response headers
    def retry_forwarder_delivery_with_http_info(forwarder_id, delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.retry_forwarder_delivery ...'
      end
      # verify the required parameter 'forwarder_id' is set
      if @api_client.config.client_side_validation && forwarder_id.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_id' when calling ForwardersApi.retry_forwarder_delivery"
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling ForwardersApi.retry_forwarder_delivery"
      end
      # resource path
      local_var_path = '/api/v1/forwarders/{forwarder_id}/deliveries/{delivery_id}/actions/retry'.sub('{forwarder_id}', CGI.escape(forwarder_id.to_s)).sub('{delivery_id}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.retry_forwarder_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#retry_forwarder_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Forwarder
    # Full-replace update. PUT semantics — every field is overwritten.  The GET path returns plaintext header values, so the standard get-mutate-put round-trip (ADR-014) preserves secrets without any extra work from the caller: GET, change one field, PUT the result.
    # @param forwarder_id [String] 
    # @param forwarder_response [ForwarderResponse] 
    # @param [Hash] opts the optional parameters
    # @return [ForwarderResponse]
    def update_forwarder(forwarder_id, forwarder_response, opts = {})
      data, _status_code, _headers = update_forwarder_with_http_info(forwarder_id, forwarder_response, opts)
      data
    end

    # Update Forwarder
    # Full-replace update. PUT semantics — every field is overwritten.  The GET path returns plaintext header values, so the standard get-mutate-put round-trip (ADR-014) preserves secrets without any extra work from the caller: GET, change one field, PUT the result.
    # @param forwarder_id [String] 
    # @param forwarder_response [ForwarderResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwarderResponse, Integer, Hash)>] ForwarderResponse data, response status code and response headers
    def update_forwarder_with_http_info(forwarder_id, forwarder_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwardersApi.update_forwarder ...'
      end
      # verify the required parameter 'forwarder_id' is set
      if @api_client.config.client_side_validation && forwarder_id.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_id' when calling ForwardersApi.update_forwarder"
      end
      # verify the required parameter 'forwarder_response' is set
      if @api_client.config.client_side_validation && forwarder_response.nil?
        fail ArgumentError, "Missing the required parameter 'forwarder_response' when calling ForwardersApi.update_forwarder"
      end
      # resource path
      local_var_path = '/api/v1/forwarders/{forwarder_id}'.sub('{forwarder_id}', CGI.escape(forwarder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(forwarder_response)

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ForwardersApi.update_forwarder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwardersApi#update_forwarder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
