=begin
#smplkit Audit API

#Append-only change-history substrate for smpl.* resources and customer-application events. ADR-047.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Audit
  class ForwarderTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Forwarder Type
    # Fetch a single forwarder type from the catalog.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ForwarderTypeResponse]
    def get_forwarder_type_api_v1_forwarder_types_id_get(id, opts = {})
      data, _status_code, _headers = get_forwarder_type_api_v1_forwarder_types_id_get_with_http_info(id, opts)
      data
    end

    # Get Forwarder Type
    # Fetch a single forwarder type from the catalog.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwarderTypeResponse, Integer, Hash)>] ForwarderTypeResponse data, response status code and response headers
    def get_forwarder_type_api_v1_forwarder_types_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwarderTypesApi.get_forwarder_type_api_v1_forwarder_types_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ForwarderTypesApi.get_forwarder_type_api_v1_forwarder_types_id_get"
      end
      # resource path
      local_var_path = '/api/v1/forwarder_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderTypeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ForwarderTypesApi.get_forwarder_type_api_v1_forwarder_types_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwarderTypesApi#get_forwarder_type_api_v1_forwarder_types_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Forwarder Types
    # List all forwarder types in the catalog.  Returns every branded HTTP forwarder type defined in `forwarder_types/*.yaml` plus the synthetic `http` (Custom HTTP) entry. The response drives the console's create-forwarder UX, the docs vendor-reference page, and audit's own server-side template validation.
    # @param [Hash] opts the optional parameters
    # @return [ForwarderTypeListResponse]
    def list_forwarder_types_api_v1_forwarder_types_get(opts = {})
      data, _status_code, _headers = list_forwarder_types_api_v1_forwarder_types_get_with_http_info(opts)
      data
    end

    # List Forwarder Types
    # List all forwarder types in the catalog.  Returns every branded HTTP forwarder type defined in &#x60;forwarder_types/*.yaml&#x60; plus the synthetic &#x60;http&#x60; (Custom HTTP) entry. The response drives the console&#39;s create-forwarder UX, the docs vendor-reference page, and audit&#39;s own server-side template validation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ForwarderTypeListResponse, Integer, Hash)>] ForwarderTypeListResponse data, response status code and response headers
    def list_forwarder_types_api_v1_forwarder_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForwarderTypesApi.list_forwarder_types_api_v1_forwarder_types_get ...'
      end
      # resource path
      local_var_path = '/api/v1/forwarder_types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForwarderTypeListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ForwarderTypesApi.list_forwarder_types_api_v1_forwarder_types_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForwarderTypesApi#list_forwarder_types_api_v1_forwarder_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
