=begin
#smplkit Audit API

#Append-only change-history substrate for smpl.* resources and customer-application events. ADR-047.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Audit
  class UsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Usage
    # Current-period usage and quota for the audit product.  Only ``filter[period]=current`` is supported; historical usage is a follow-up.
    # @param filter_period [String] 
    # @param [Hash] opts the optional parameters
    # @return [UsageResponse]
    def list_usage(filter_period, opts = {})
      data, _status_code, _headers = list_usage_with_http_info(filter_period, opts)
      data
    end

    # List Usage
    # Current-period usage and quota for the audit product.  Only &#x60;&#x60;filter[period]&#x3D;current&#x60;&#x60; is supported; historical usage is a follow-up.
    # @param filter_period [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsageResponse, Integer, Hash)>] UsageResponse data, response status code and response headers
    def list_usage_with_http_info(filter_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.list_usage ...'
      end
      # verify the required parameter 'filter_period' is set
      if @api_client.config.client_side_validation && filter_period.nil?
        fail ArgumentError, "Missing the required parameter 'filter_period' when calling UsageApi.list_usage"
      end
      # resource path
      local_var_path = '/api/v1/usage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[period]'] = filter_period

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"UsageApi.list_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#list_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
