=begin
#smplkit Flags API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Flags
  class FlagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Register Flags
    # Register flags discovered by an SDK.  Creates a new flag for each unreported key and refreshes the service/environment source observation on each already-known key.
    # @param flag_bulk_request [FlagBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FlagBulkResponse]
    def bulk_register_flags(flag_bulk_request, opts = {})
      data, _status_code, _headers = bulk_register_flags_with_http_info(flag_bulk_request, opts)
      data
    end

    # Bulk Register Flags
    # Register flags discovered by an SDK.  Creates a new flag for each unreported key and refreshes the service/environment source observation on each already-known key.
    # @param flag_bulk_request [FlagBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagBulkResponse, Integer, Hash)>] FlagBulkResponse data, response status code and response headers
    def bulk_register_flags_with_http_info(flag_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.bulk_register_flags ...'
      end
      # verify the required parameter 'flag_bulk_request' is set
      if @api_client.config.client_side_validation && flag_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'flag_bulk_request' when calling FlagsApi.bulk_register_flags"
      end
      # resource path
      local_var_path = '/api/v1/flags/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flag_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FlagBulkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FlagsApi.bulk_register_flags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#bulk_register_flags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Flag
    # Create a new feature flag. The caller provides the id (the flag key) in the request body.
    # @param flag_request [FlagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FlagResponse]
    def create_flag(flag_request, opts = {})
      data, _status_code, _headers = create_flag_with_http_info(flag_request, opts)
      data
    end

    # Create Flag
    # Create a new feature flag. The caller provides the id (the flag key) in the request body.
    # @param flag_request [FlagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagResponse, Integer, Hash)>] FlagResponse data, response status code and response headers
    def create_flag_with_http_info(flag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.create_flag ...'
      end
      # verify the required parameter 'flag_request' is set
      if @api_client.config.client_side_validation && flag_request.nil?
        fail ArgumentError, "Missing the required parameter 'flag_request' when calling FlagsApi.create_flag"
      end
      # resource path
      local_var_path = '/api/v1/flags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FlagResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FlagsApi.create_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#create_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Flag
    # Delete a feature flag by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_flag(id, opts = {})
      delete_flag_with_http_info(id, opts)
      nil
    end

    # Delete Flag
    # Delete a feature flag by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_flag_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.delete_flag ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.delete_flag"
      end
      # resource path
      local_var_path = '/api/v1/flags/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FlagsApi.delete_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#delete_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Flag
    # Retrieve a feature flag by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagResponse]
    def get_flag(id, opts = {})
      data, _status_code, _headers = get_flag_with_http_info(id, opts)
      data
    end

    # Get Flag
    # Retrieve a feature flag by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagResponse, Integer, Hash)>] FlagResponse data, response status code and response headers
    def get_flag_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.get_flag ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.get_flag"
      end
      # resource path
      local_var_path = '/api/v1/flags/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FlagsApi.get_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#get_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Flags
    # List feature flags for this account.  Default sort is `key` ascending.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_type 
    # @option opts [Boolean] :filter_managed 
    # @option opts [String] :filter_references_context Return flags whose rules reference this context instance. Format: {type}:{key}
    # @option opts [String] :filter_references_context_type Return flags whose rules reference any attribute of the given context type.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;type&#x60;, &#x60;-type&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @return [FlagListResponse]
    def list_flags(opts = {})
      data, _status_code, _headers = list_flags_with_http_info(opts)
      data
    end

    # List Flags
    # List feature flags for this account.  Default sort is &#x60;key&#x60; ascending.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_type 
    # @option opts [Boolean] :filter_managed 
    # @option opts [String] :filter_references_context Return flags whose rules reference this context instance. Format: {type}:{key}
    # @option opts [String] :filter_references_context_type Return flags whose rules reference any attribute of the given context type.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;type&#x60;, &#x60;-type&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @return [Array<(FlagListResponse, Integer, Hash)>] FlagListResponse data, response status code and response headers
    def list_flags_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.list_flags ...'
      end
      allowable_values = ["created_at", "-created_at", "key", "-key", "name", "-name", "type", "-type", "updated_at", "-updated_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/flags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[type]'] = opts[:'filter_type'] if !opts[:'filter_type'].nil?
      query_params[:'filter[managed]'] = opts[:'filter_managed'] if !opts[:'filter_managed'].nil?
      query_params[:'filter[references_context]'] = opts[:'filter_references_context'] if !opts[:'filter_references_context'].nil?
      query_params[:'filter[references_context_type]'] = opts[:'filter_references_context_type'] if !opts[:'filter_references_context_type'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FlagsApi.list_flags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#list_flags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Flag
    # Replace a feature flag entirely. Every writable field is overwritten.
    # @param id [String] 
    # @param flag_request [FlagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FlagResponse]
    def update_flag(id, flag_request, opts = {})
      data, _status_code, _headers = update_flag_with_http_info(id, flag_request, opts)
      data
    end

    # Update Flag
    # Replace a feature flag entirely. Every writable field is overwritten.
    # @param id [String] 
    # @param flag_request [FlagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagResponse, Integer, Hash)>] FlagResponse data, response status code and response headers
    def update_flag_with_http_info(id, flag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.update_flag ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.update_flag"
      end
      # verify the required parameter 'flag_request' is set
      if @api_client.config.client_side_validation && flag_request.nil?
        fail ArgumentError, "Missing the required parameter 'flag_request' when calling FlagsApi.update_flag"
      end
      # resource path
      local_var_path = '/api/v1/flags/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(flag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FlagResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FlagsApi.update_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#update_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
