=begin
#smplkit Flags API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Flags
  class FunctionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Execute Remove References
    # Remove every rule that references a specific context across every flag.  Provide exactly one of `context` (matches a single instance, formatted as `{type}:{key}`) or `context_type` (matches any attribute of that context type). Rules whose reference sits inside an AND expression are not removed automatically; they are returned in `rules_needing_manual_review` for the caller to handle.
    # @param remove_references_request [RemoveReferencesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RemoveReferencesResultEnvelope]
    def remove_references(remove_references_request, opts = {})
      data, _status_code, _headers = remove_references_with_http_info(remove_references_request, opts)
      data
    end

    # Execute Remove References
    # Remove every rule that references a specific context across every flag.  Provide exactly one of &#x60;context&#x60; (matches a single instance, formatted as &#x60;{type}:{key}&#x60;) or &#x60;context_type&#x60; (matches any attribute of that context type). Rules whose reference sits inside an AND expression are not removed automatically; they are returned in &#x60;rules_needing_manual_review&#x60; for the caller to handle.
    # @param remove_references_request [RemoveReferencesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveReferencesResultEnvelope, Integer, Hash)>] RemoveReferencesResultEnvelope data, response status code and response headers
    def remove_references_with_http_info(remove_references_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.remove_references ...'
      end
      # verify the required parameter 'remove_references_request' is set
      if @api_client.config.client_side_validation && remove_references_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_references_request' when calling FunctionsApi.remove_references"
      end
      # resource path
      local_var_path = '/api/v1/functions/remove_references/actions/execute'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_references_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveReferencesResultEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"FunctionsApi.remove_references",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#remove_references\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
