=begin
#smplkit Config API

#Configuration management API for smplkit.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Config
  class ConfigsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Config
    # Create a new configuration. The caller provides the id (key) in the request body.
    # @param config_response [ConfigResponse] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigResponse]
    def create_config(config_response, opts = {})
      data, _status_code, _headers = create_config_with_http_info(config_response, opts)
      data
    end

    # Create Config
    # Create a new configuration. The caller provides the id (key) in the request body.
    # @param config_response [ConfigResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigResponse, Integer, Hash)>] ConfigResponse data, response status code and response headers
    def create_config_with_http_info(config_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.create_config ...'
      end
      # verify the required parameter 'config_response' is set
      if @api_client.config.client_side_validation && config_response.nil?
        fail ArgumentError, "Missing the required parameter 'config_response' when calling ConfigsApi.create_config"
      end
      # resource path
      local_var_path = '/api/v1/configs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(config_response)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.create_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#create_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Config
    # Delete a configuration by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_config(id, opts = {})
      delete_config_with_http_info(id, opts)
      nil
    end

    # Delete Config
    # Delete a configuration by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.delete_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.delete_config"
      end
      # resource path
      local_var_path = '/api/v1/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.delete_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#delete_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Config
    # Return a configuration by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigResponse]
    def get_config(id, opts = {})
      data, _status_code, _headers = get_config_with_http_info(id, opts)
      data
    end

    # Get Config
    # Return a configuration by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigResponse, Integer, Hash)>] ConfigResponse data, response status code and response headers
    def get_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.get_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.get_config"
      end
      # resource path
      local_var_path = '/api/v1/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.get_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#get_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Configs
    # List all configurations for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_parent 
    # @return [ConfigListResponse]
    def list_configs(opts = {})
      data, _status_code, _headers = list_configs_with_http_info(opts)
      data
    end

    # List Configs
    # List all configurations for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_parent 
    # @return [Array<(ConfigListResponse, Integer, Hash)>] ConfigListResponse data, response status code and response headers
    def list_configs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.list_configs ...'
      end
      # resource path
      local_var_path = '/api/v1/configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[parent]'] = opts[:'filter_parent'] if !opts[:'filter_parent'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.list_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#list_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Config
    # Replace a configuration entirely.
    # @param id [String] 
    # @param config_response [ConfigResponse] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigResponse]
    def update_config(id, config_response, opts = {})
      data, _status_code, _headers = update_config_with_http_info(id, config_response, opts)
      data
    end

    # Update Config
    # Replace a configuration entirely.
    # @param id [String] 
    # @param config_response [ConfigResponse] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigResponse, Integer, Hash)>] ConfigResponse data, response status code and response headers
    def update_config_with_http_info(id, config_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.update_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.update_config"
      end
      # verify the required parameter 'config_response' is set
      if @api_client.config.client_side_validation && config_response.nil?
        fail ArgumentError, "Missing the required parameter 'config_response' when calling ConfigsApi.update_config"
      end
      # resource path
      local_var_path = '/api/v1/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(config_response)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.update_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#update_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
