=begin
#smplkit Config API

#Configuration management API for smplkit.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Config
  class ConfigsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Register Configs
    # Register configs declared by an SDK.  For each item in the batch: - If no config with that key exists, create one with ``managed=false``   (auto-discovered) using the declared items, parent, name, and   description. - If a config with that key already exists, leave the config row   untouched (per ADR-024 §2.9). - Either way, upsert a ``config_source`` row for ``(config, service,   environment)`` and refresh its ``last_seen`` timestamp.  Per ADR-022 §2.11 rule 2 this endpoint never enforces ``config.managed_configurations`` — discovered configs do not consume a managed slot.
    # @param config_bulk_request [ConfigBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigBulkResponse]
    def bulk_register_configs(config_bulk_request, opts = {})
      data, _status_code, _headers = bulk_register_configs_with_http_info(config_bulk_request, opts)
      data
    end

    # Bulk Register Configs
    # Register configs declared by an SDK.  For each item in the batch: - If no config with that key exists, create one with &#x60;&#x60;managed&#x3D;false&#x60;&#x60;   (auto-discovered) using the declared items, parent, name, and   description. - If a config with that key already exists, leave the config row   untouched (per ADR-024 §2.9). - Either way, upsert a &#x60;&#x60;config_source&#x60;&#x60; row for &#x60;&#x60;(config, service,   environment)&#x60;&#x60; and refresh its &#x60;&#x60;last_seen&#x60;&#x60; timestamp.  Per ADR-022 §2.11 rule 2 this endpoint never enforces &#x60;&#x60;config.managed_configurations&#x60;&#x60; — discovered configs do not consume a managed slot.
    # @param config_bulk_request [ConfigBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigBulkResponse, Integer, Hash)>] ConfigBulkResponse data, response status code and response headers
    def bulk_register_configs_with_http_info(config_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.bulk_register_configs ...'
      end
      # verify the required parameter 'config_bulk_request' is set
      if @api_client.config.client_side_validation && config_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'config_bulk_request' when calling ConfigsApi.bulk_register_configs"
      end
      # resource path
      local_var_path = '/api/v1/configs/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(config_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigBulkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.bulk_register_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#bulk_register_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Config
    # Create a config for this account.  The caller supplies the config's key as `data.id`. Keys are unique within an account and immutable for the lifetime of the config.
    # @param config_request [ConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigResponse]
    def create_config(config_request, opts = {})
      data, _status_code, _headers = create_config_with_http_info(config_request, opts)
      data
    end

    # Create Config
    # Create a config for this account.  The caller supplies the config&#39;s key as &#x60;data.id&#x60;. Keys are unique within an account and immutable for the lifetime of the config.
    # @param config_request [ConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigResponse, Integer, Hash)>] ConfigResponse data, response status code and response headers
    def create_config_with_http_info(config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.create_config ...'
      end
      # verify the required parameter 'config_request' is set
      if @api_client.config.client_side_validation && config_request.nil?
        fail ArgumentError, "Missing the required parameter 'config_request' when calling ConfigsApi.create_config"
      end
      # resource path
      local_var_path = '/api/v1/configs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.create_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#create_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Config
    # Delete a config by its key.  A config that is referenced as `parent` by another config cannot be deleted; reparent or remove the parent reference on every child first. The `common` config cannot be deleted.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_config(id, opts = {})
      delete_config_with_http_info(id, opts)
      nil
    end

    # Delete Config
    # Delete a config by its key.  A config that is referenced as &#x60;parent&#x60; by another config cannot be deleted; reparent or remove the parent reference on every child first. The &#x60;common&#x60; config cannot be deleted.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.delete_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.delete_config"
      end
      # resource path
      local_var_path = '/api/v1/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.delete_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#delete_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Config
    # Retrieve a single config by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigResponse]
    def get_config(id, opts = {})
      data, _status_code, _headers = get_config_with_http_info(id, opts)
      data
    end

    # Get Config
    # Retrieve a single config by its key.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigResponse, Integer, Hash)>] ConfigResponse data, response status code and response headers
    def get_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.get_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.get_config"
      end
      # resource path
      local_var_path = '/api/v1/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.get_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#get_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Configs
    # List configs for this account.  Default sort is `key` ascending. Pass `filter[parent]=<parent_key>` to return only the direct children of a specific config, or `filter[search]=<term>` to filter by a case-insensitive substring against `key` or `name`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_parent 
    # @option opts [String] :filter_search Case-insensitive substring match against the config &#x60;key&#x60; and &#x60;name&#x60;. A config is returned if either field contains the search term.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [ConfigListResponse]
    def list_configs(opts = {})
      data, _status_code, _headers = list_configs_with_http_info(opts)
      data
    end

    # List Configs
    # List configs for this account.  Default sort is &#x60;key&#x60; ascending. Pass &#x60;filter[parent]&#x3D;&lt;parent_key&gt;&#x60; to return only the direct children of a specific config, or &#x60;filter[search]&#x3D;&lt;term&gt;&#x60; to filter by a case-insensitive substring against &#x60;key&#x60; or &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_parent 
    # @option opts [String] :filter_search Case-insensitive substring match against the config &#x60;key&#x60; and &#x60;name&#x60;. A config is returned if either field contains the search term.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [Array<(ConfigListResponse, Integer, Hash)>] ConfigListResponse data, response status code and response headers
    def list_configs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.list_configs ...'
      end
      allowable_values = ["created_at", "-created_at", "key", "-key", "name", "-name", "updated_at", "-updated_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[parent]'] = opts[:'filter_parent'] if !opts[:'filter_parent'].nil?
      query_params[:'filter[search]'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page[number]'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'meta[total]'] = opts[:'meta_total'] if !opts[:'meta_total'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.list_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#list_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Config
    # Replace a config entirely. Every writable field is overwritten.
    # @param id [String] 
    # @param config_request [ConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigResponse]
    def update_config(id, config_request, opts = {})
      data, _status_code, _headers = update_config_with_http_info(id, config_request, opts)
      data
    end

    # Update Config
    # Replace a config entirely. Every writable field is overwritten.
    # @param id [String] 
    # @param config_request [ConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigResponse, Integer, Hash)>] ConfigResponse data, response status code and response headers
    def update_config_with_http_info(id, config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.update_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.update_config"
      end
      # verify the required parameter 'config_request' is set
      if @api_client.config.client_side_validation && config_request.nil?
        fail ArgumentError, "Missing the required parameter 'config_request' when calling ConfigsApi.update_config"
      end
      # resource path
      local_var_path = '/api/v1/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ConfigsApi.update_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#update_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
