=begin
#smplkit Config API

#Configuration management API for smplkit.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Config
  class UsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Config Usage
    # Report the current-period usage counters for this account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_period Period to report. &#x60;current&#x60; is the only supported value.
    # @return [UsageListResponse]
    def list_config_usage(opts = {})
      data, _status_code, _headers = list_config_usage_with_http_info(opts)
      data
    end

    # List Config Usage
    # Report the current-period usage counters for this account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_period Period to report. &#x60;current&#x60; is the only supported value.
    # @return [Array<(UsageListResponse, Integer, Hash)>] UsageListResponse data, response status code and response headers
    def list_config_usage_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.list_config_usage ...'
      end
      # resource path
      local_var_path = '/api/v1/usage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[period]'] = opts[:'filter_period'] if !opts[:'filter_period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"UsageApi.list_config_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#list_config_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
