=begin
#smplkit Jobs API

#Scheduled HTTP job execution API for smplkit.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Jobs
  class RunsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Run
    # Cancel a pending or running run.  Returns `409` if the run is already in a terminal state. Canceling a running run stops us tracking it, but the HTTP request may already be in flight — cancel means \"stop tracking,\" not \"guaranteed it didn't happen.\"
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def cancel_run(run_id, opts = {})
      data, _status_code, _headers = cancel_run_with_http_info(run_id, opts)
      data
    end

    # Cancel Run
    # Cancel a pending or running run.  Returns &#x60;409&#x60; if the run is already in a terminal state. Canceling a running run stops us tracking it, but the HTTP request may already be in flight — cancel means \&quot;stop tracking,\&quot; not \&quot;guaranteed it didn&#39;t happen.\&quot;
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def cancel_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.cancel_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling RunsApi.cancel_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{run_id}/actions/cancel'.sub('{run_id}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.cancel_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#cancel_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Run
    # Retrieve a single run by its id.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def get_run(run_id, opts = {})
      data, _status_code, _headers = get_run_with_http_info(run_id, opts)
      data
    end

    # Get Run
    # Retrieve a single run by its id.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def get_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.get_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling RunsApi.get_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{run_id}'.sub('{run_id}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.get_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#get_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Runs
    # List runs for this account, newest first (cursor paginated).  Use `filter[job]={slug}` for a single job's run history.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_job 
    # @option opts [Integer] :page_size 
    # @option opts [String] :page_after 
    # @return [RunListResponse]
    def list_runs(opts = {})
      data, _status_code, _headers = list_runs_with_http_info(opts)
      data
    end

    # List Runs
    # List runs for this account, newest first (cursor paginated).  Use &#x60;filter[job]&#x3D;{slug}&#x60; for a single job&#39;s run history.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_job 
    # @option opts [Integer] :page_size 
    # @option opts [String] :page_after 
    # @return [Array<(RunListResponse, Integer, Hash)>] RunListResponse data, response status code and response headers
    def list_runs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.list_runs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RunsApi.list_runs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[job]'] = opts[:'filter_job'] if !opts[:'filter_job'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'page[after]'] = opts[:'page_after'] if !opts[:'page_after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.list_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#list_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rerun Run
    # Spawn a new run from a prior run, using the job's current configuration.  Returns `409` if the run's parent job has been deleted.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def rerun_run(run_id, opts = {})
      data, _status_code, _headers = rerun_run_with_http_info(run_id, opts)
      data
    end

    # Rerun Run
    # Spawn a new run from a prior run, using the job&#39;s current configuration.  Returns &#x60;409&#x60; if the run&#39;s parent job has been deleted.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def rerun_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.rerun_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling RunsApi.rerun_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{run_id}/actions/rerun'.sub('{run_id}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.rerun_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#rerun_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
