=begin
#smplkit Jobs API

#Scheduled HTTP job execution API for smplkit.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::Jobs
  class RunsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Run
    # Cancel a pending or running run.  Returns `409` if the run is already in a terminal state. Canceling a running run stops us tracking it, but the HTTP request may already be in flight — cancel means \"stop tracking,\" not \"guaranteed it didn't happen.\"
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def cancel_run(run_id, opts = {})
      data, _status_code, _headers = cancel_run_with_http_info(run_id, opts)
      data
    end

    # Cancel Run
    # Cancel a pending or running run.  Returns &#x60;409&#x60; if the run is already in a terminal state. Canceling a running run stops us tracking it, but the HTTP request may already be in flight — cancel means \&quot;stop tracking,\&quot; not \&quot;guaranteed it didn&#39;t happen.\&quot;
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def cancel_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.cancel_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling RunsApi.cancel_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{run_id}/actions/cancel'.sub('{run_id}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.cancel_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#cancel_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Run
    # Retrieve a single run by its id.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def get_run(run_id, opts = {})
      data, _status_code, _headers = get_run_with_http_info(run_id, opts)
      data
    end

    # Get Run
    # Retrieve a single run by its id.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def get_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.get_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling RunsApi.get_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{run_id}'.sub('{run_id}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.get_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#get_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Runs
    # List runs for this account (cursor paginated).  Default sort is `-created_at` (newest first). Sort by `created_at`, `started_at`, `finished_at`, `scheduled_for`, `status`, `job`, or `total_duration_ms`, ascending or descending (prefix `-` for descending). Keep the same `sort` value across paginated requests so the cursor stays consistent. Runs that have not reached the relevant lifecycle point (`started_at`, `finished_at`, `scheduled_for`, `total_duration_ms` unset) sort to the end regardless of direction.  Filters compose with AND:  - `filter[job]={id}` — a single job's run history. - `filter[status]` — one state or a comma-separated list (any-of). - `filter[created_at]` / `filter[started_at]` / `filter[finished_at]` /   `filter[scheduled_for]` — half-open `[start,end)` date ranges (see each   parameter for the interval syntax).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_job 
    # @option opts [String] :filter_status Restrict to runs in the given lifecycle state. One of &#x60;PENDING&#x60;, &#x60;RUNNING&#x60;, &#x60;SUCCEEDED&#x60;, &#x60;FAILED&#x60;, &#x60;CANCELED&#x60;, or a comma-separated list of them to match any (e.g. &#x60;SUCCEEDED,FAILED&#x60;).
    # @option opts [String] :filter_created_at Restrict to runs whose &#x60;created_at&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [String] :filter_started_at Restrict to runs whose &#x60;started_at&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [String] :filter_finished_at Restrict to runs whose &#x60;finished_at&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [String] :filter_scheduled_for Restrict to runs whose &#x60;scheduled_for&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [Integer] :page_size Number of runs per page. Optional; defaults to &#x60;50&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error.
    # @option opts [String] :page_after 
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;-created_at&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;finished_at&#x60;, &#x60;-finished_at&#x60;, &#x60;job&#x60;, &#x60;-job&#x60;, &#x60;scheduled_for&#x60;, &#x60;-scheduled_for&#x60;, &#x60;started_at&#x60;, &#x60;-started_at&#x60;, &#x60;status&#x60;, &#x60;-status&#x60;, &#x60;total_duration_ms&#x60;, &#x60;-total_duration_ms&#x60;. (default to '-created_at')
    # @return [RunListResponse]
    def list_runs(opts = {})
      data, _status_code, _headers = list_runs_with_http_info(opts)
      data
    end

    # List Runs
    # List runs for this account (cursor paginated).  Default sort is &#x60;-created_at&#x60; (newest first). Sort by &#x60;created_at&#x60;, &#x60;started_at&#x60;, &#x60;finished_at&#x60;, &#x60;scheduled_for&#x60;, &#x60;status&#x60;, &#x60;job&#x60;, or &#x60;total_duration_ms&#x60;, ascending or descending (prefix &#x60;-&#x60; for descending). Keep the same &#x60;sort&#x60; value across paginated requests so the cursor stays consistent. Runs that have not reached the relevant lifecycle point (&#x60;started_at&#x60;, &#x60;finished_at&#x60;, &#x60;scheduled_for&#x60;, &#x60;total_duration_ms&#x60; unset) sort to the end regardless of direction.  Filters compose with AND:  - &#x60;filter[job]&#x3D;{id}&#x60; — a single job&#39;s run history. - &#x60;filter[status]&#x60; — one state or a comma-separated list (any-of). - &#x60;filter[created_at]&#x60; / &#x60;filter[started_at]&#x60; / &#x60;filter[finished_at]&#x60; /   &#x60;filter[scheduled_for]&#x60; — half-open &#x60;[start,end)&#x60; date ranges (see each   parameter for the interval syntax).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_job 
    # @option opts [String] :filter_status Restrict to runs in the given lifecycle state. One of &#x60;PENDING&#x60;, &#x60;RUNNING&#x60;, &#x60;SUCCEEDED&#x60;, &#x60;FAILED&#x60;, &#x60;CANCELED&#x60;, or a comma-separated list of them to match any (e.g. &#x60;SUCCEEDED,FAILED&#x60;).
    # @option opts [String] :filter_created_at Restrict to runs whose &#x60;created_at&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [String] :filter_started_at Restrict to runs whose &#x60;started_at&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [String] :filter_finished_at Restrict to runs whose &#x60;finished_at&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [String] :filter_scheduled_for Restrict to runs whose &#x60;scheduled_for&#x60; falls in a half-open &#x60;[start,end)&#x60; interval. Bounds are ISO-8601 timestamps; &#x60;*&#x60; leaves a bound open. The leading bracket is &#x60;[&#x60; (inclusive) or &#x60;(&#x60; (exclusive) and the trailing bracket is &#x60;]&#x60; (inclusive) or &#x60;)&#x60; (exclusive). Example: &#x60;[2026-06-01T00:00:00Z,2026-06-08T00:00:00Z)&#x60; selects the first week of June; &#x60;[2026-06-01T00:00:00Z,*)&#x60; is everything from then onward.
    # @option opts [Integer] :page_size Number of runs per page. Optional; defaults to &#x60;50&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error.
    # @option opts [String] :page_after 
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;-created_at&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;finished_at&#x60;, &#x60;-finished_at&#x60;, &#x60;job&#x60;, &#x60;-job&#x60;, &#x60;scheduled_for&#x60;, &#x60;-scheduled_for&#x60;, &#x60;started_at&#x60;, &#x60;-started_at&#x60;, &#x60;status&#x60;, &#x60;-status&#x60;, &#x60;total_duration_ms&#x60;, &#x60;-total_duration_ms&#x60;. (default to '-created_at')
    # @return [Array<(RunListResponse, Integer, Hash)>] RunListResponse data, response status code and response headers
    def list_runs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.list_runs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RunsApi.list_runs, must be greater than or equal to 1.'
      end

      allowable_values = ["created_at", "-created_at", "finished_at", "-finished_at", "job", "-job", "scheduled_for", "-scheduled_for", "started_at", "-started_at", "status", "-status", "total_duration_ms", "-total_duration_ms"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[job]'] = opts[:'filter_job'] if !opts[:'filter_job'].nil?
      query_params[:'filter[status]'] = opts[:'filter_status'] if !opts[:'filter_status'].nil?
      query_params[:'filter[created_at]'] = opts[:'filter_created_at'] if !opts[:'filter_created_at'].nil?
      query_params[:'filter[started_at]'] = opts[:'filter_started_at'] if !opts[:'filter_started_at'].nil?
      query_params[:'filter[finished_at]'] = opts[:'filter_finished_at'] if !opts[:'filter_finished_at'].nil?
      query_params[:'filter[scheduled_for]'] = opts[:'filter_scheduled_for'] if !opts[:'filter_scheduled_for'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'page[after]'] = opts[:'page_after'] if !opts[:'page_after'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.list_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#list_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rerun Run
    # Spawn a new run from a prior run, using the job's current configuration.  Returns `409` if the run's parent job has been deleted.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def rerun_run(run_id, opts = {})
      data, _status_code, _headers = rerun_run_with_http_info(run_id, opts)
      data
    end

    # Rerun Run
    # Spawn a new run from a prior run, using the job&#39;s current configuration.  Returns &#x60;409&#x60; if the run&#39;s parent job has been deleted.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def rerun_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunsApi.rerun_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling RunsApi.rerun_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{run_id}/actions/rerun'.sub('{run_id}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"RunsApi.rerun_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunsApi#rerun_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
