=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class AuthApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Begin OIDC Login
    # Initiates the OIDC authorization flow by redirecting the user to the provider's login page.
    # @param provider [OidcProvider] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mode  (default to 'signin')
    # @option opts [String] :source 
    # @option opts [String] :entry_point 
    # @return [nil]
    def begin_oidc_login(provider, opts = {})
      begin_oidc_login_with_http_info(provider, opts)
      nil
    end

    # Begin OIDC Login
    # Initiates the OIDC authorization flow by redirecting the user to the provider&#39;s login page.
    # @param provider [OidcProvider] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mode  (default to 'signin')
    # @option opts [String] :source 
    # @option opts [String] :entry_point 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def begin_oidc_login_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.begin_oidc_login ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling AuthApi.begin_oidc_login"
      end
      # resource path
      local_var_path = '/api/v1/auth/oidc/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mode'] = opts[:'mode'] if !opts[:'mode'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'entry_point'] = opts[:'entry_point'] if !opts[:'entry_point'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.begin_oidc_login",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#begin_oidc_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Handle OIDC Callback
    # Handles the callback from the OIDC provider, exchanges the authorization code for tokens, and redirects to the frontend.
    # @param provider [OidcProvider] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code 
    # @option opts [String] :state 
    # @option opts [String] :error 
    # @option opts [String] :error_description 
    # @return [nil]
    def handle_oidc_callback(provider, opts = {})
      handle_oidc_callback_with_http_info(provider, opts)
      nil
    end

    # Handle OIDC Callback
    # Handles the callback from the OIDC provider, exchanges the authorization code for tokens, and redirects to the frontend.
    # @param provider [OidcProvider] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code 
    # @option opts [String] :state 
    # @option opts [String] :error 
    # @option opts [String] :error_description 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def handle_oidc_callback_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.handle_oidc_callback ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling AuthApi.handle_oidc_callback"
      end
      # resource path
      local_var_path = '/api/v1/auth/callback/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'error'] = opts[:'error'] if !opts[:'error'].nil?
      query_params[:'error_description'] = opts[:'error_description'] if !opts[:'error_description'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.handle_oidc_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#handle_oidc_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login
    # Authenticates with email and password and returns an authentication token.
    # @param login_request [LoginRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTokenResponse]
    def login(login_request, opts = {})
      data, _status_code, _headers = login_with_http_info(login_request, opts)
      data
    end

    # Login
    # Authenticates with email and password and returns an authentication token.
    # @param login_request [LoginRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def login_with_http_info(login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.login ...'
      end
      # verify the required parameter 'login_request' is set
      if @api_client.config.client_side_validation && login_request.nil?
        fail ArgumentError, "Missing the required parameter 'login_request' when calling AuthApi.login"
      end
      # resource path
      local_var_path = '/api/v1/auth/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(login_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.login",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register
    # Creates a new account with email and password and returns an authentication token.
    # @param register_request [RegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTokenResponse]
    def register(register_request, opts = {})
      data, _status_code, _headers = register_with_http_info(register_request, opts)
      data
    end

    # Register
    # Creates a new account with email and password and returns an authentication token.
    # @param register_request [RegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def register_with_http_info(register_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.register ...'
      end
      # verify the required parameter 'register_request' is set
      if @api_client.config.client_side_validation && register_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_request' when calling AuthApi.register"
      end
      # resource path
      local_var_path = '/api/v1/auth/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.register",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#register\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend Verification Email
    # Resends the email verification link to the authenticated user.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resend_verification(opts = {})
      resend_verification_with_http_info(opts)
      nil
    end

    # Resend Verification Email
    # Resends the email verification link to the authenticated user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resend_verification_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.resend_verification ...'
      end
      # resource path
      local_var_path = '/api/v1/auth/resend-verification'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"AuthApi.resend_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#resend_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify Email
    # Verifies a user's email address using the token from the verification email.
    # @param verify_email_request [VerifyEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTokenResponse]
    def verify_email(verify_email_request, opts = {})
      data, _status_code, _headers = verify_email_with_http_info(verify_email_request, opts)
      data
    end

    # Verify Email
    # Verifies a user&#39;s email address using the token from the verification email.
    # @param verify_email_request [VerifyEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def verify_email_with_http_info(verify_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.verify_email ...'
      end
      # verify the required parameter 'verify_email_request' is set
      if @api_client.config.client_side_validation && verify_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_email_request' when calling AuthApi.verify_email"
      end
      # resource path
      local_var_path = '/api/v1/auth/verify-email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.verify_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#verify_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
