=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class ContextValuesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Context Values
    # Return distinct values observed for a single attribute across context instances of one context type. The intended use case is a typeahead picker in a rule-building UI: the customer chooses a context type and an attribute name, then this endpoint streams back the distinct values matching what they've typed so far.  `filter[context_type]` and `filter[attribute]` are required. `filter[attribute]` accepts any attribute name — including the two first-class columns `key` and `name` — and is treated uniformly from the customer's perspective; the server adjusts the underlying query accordingly.  `filter[search]` does a case-insensitive starts-with match. The returned set excludes empty strings and NULL values.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_context_type Context type key whose instances should be searched (e.g. &#x60;user&#x60;).
    # @option opts [String] :filter_attribute Attribute name whose distinct values should be returned (e.g. &#x60;first_name&#x60;). Accepts &#x60;key&#x60; and &#x60;name&#x60; as well as any attribute key stored on the context instance.
    # @option opts [String] :filter_search Optional case-insensitive starts-with match against the projected attribute value. When omitted, all distinct values are returned in the page.
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [ContextValueListResponse]
    def list_context_values(opts = {})
      data, _status_code, _headers = list_context_values_with_http_info(opts)
      data
    end

    # List Context Values
    # Return distinct values observed for a single attribute across context instances of one context type. The intended use case is a typeahead picker in a rule-building UI: the customer chooses a context type and an attribute name, then this endpoint streams back the distinct values matching what they&#39;ve typed so far.  &#x60;filter[context_type]&#x60; and &#x60;filter[attribute]&#x60; are required. &#x60;filter[attribute]&#x60; accepts any attribute name — including the two first-class columns &#x60;key&#x60; and &#x60;name&#x60; — and is treated uniformly from the customer&#39;s perspective; the server adjusts the underlying query accordingly.  &#x60;filter[search]&#x60; does a case-insensitive starts-with match. The returned set excludes empty strings and NULL values.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_context_type Context type key whose instances should be searched (e.g. &#x60;user&#x60;).
    # @option opts [String] :filter_attribute Attribute name whose distinct values should be returned (e.g. &#x60;first_name&#x60;). Accepts &#x60;key&#x60; and &#x60;name&#x60; as well as any attribute key stored on the context instance.
    # @option opts [String] :filter_search Optional case-insensitive starts-with match against the projected attribute value. When omitted, all distinct values are returned in the page.
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [Array<(ContextValueListResponse, Integer, Hash)>] ContextValueListResponse data, response status code and response headers
    def list_context_values_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextValuesApi.list_context_values ...'
      end
      # resource path
      local_var_path = '/api/v1/context_values'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[context_type]'] = opts[:'filter_context_type'] if !opts[:'filter_context_type'].nil?
      query_params[:'filter[attribute]'] = opts[:'filter_attribute'] if !opts[:'filter_attribute'].nil?
      query_params[:'filter[search]'] = opts[:'filter_search'] if !opts[:'filter_search'].nil?
      query_params[:'page[number]'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'meta[total]'] = opts[:'meta_total'] if !opts[:'meta_total'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContextValueListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ContextValuesApi.list_context_values",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextValuesApi#list_context_values\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
