=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class ContextsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Register Contexts
    # Register context instances in bulk. Creates context types automatically if they don't exist.
    # @param context_bulk_register [ContextBulkRegister] 
    # @param [Hash] opts the optional parameters
    # @return [ContextBatchResponse]
    def bulk_register_contexts(context_bulk_register, opts = {})
      data, _status_code, _headers = bulk_register_contexts_with_http_info(context_bulk_register, opts)
      data
    end

    # Bulk Register Contexts
    # Register context instances in bulk. Creates context types automatically if they don&#39;t exist.
    # @param context_bulk_register [ContextBulkRegister] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextBatchResponse, Integer, Hash)>] ContextBatchResponse data, response status code and response headers
    def bulk_register_contexts_with_http_info(context_bulk_register, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextsApi.bulk_register_contexts ...'
      end
      # verify the required parameter 'context_bulk_register' is set
      if @api_client.config.client_side_validation && context_bulk_register.nil?
        fail ArgumentError, "Missing the required parameter 'context_bulk_register' when calling ContextsApi.bulk_register_contexts"
      end
      # resource path
      local_var_path = '/api/v1/contexts/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(context_bulk_register)

      # return_type
      return_type = opts[:debug_return_type] || 'ContextBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ContextsApi.bulk_register_contexts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextsApi#bulk_register_contexts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Context
    # Delete a context instance by composite id (type:key).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_context(id, opts = {})
      delete_context_with_http_info(id, opts)
      nil
    end

    # Delete Context
    # Delete a context instance by composite id (type:key).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_context_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextsApi.delete_context ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContextsApi.delete_context"
      end
      # resource path
      local_var_path = '/api/v1/contexts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ContextsApi.delete_context",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextsApi#delete_context\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Context
    # Return a context instance by composite id (type:key).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ContextResponse]
    def get_context(id, opts = {})
      data, _status_code, _headers = get_context_with_http_info(id, opts)
      data
    end

    # Get Context
    # Return a context instance by composite id (type:key).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextResponse, Integer, Hash)>] ContextResponse data, response status code and response headers
    def get_context_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextsApi.get_context ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContextsApi.get_context"
      end
      # resource path
      local_var_path = '/api/v1/contexts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContextResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ContextsApi.get_context",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextsApi#get_context\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Contexts
    # List all context instances for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_context_type 
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @return [ContextListResponse]
    def list_contexts(opts = {})
      data, _status_code, _headers = list_contexts_with_http_info(opts)
      data
    end

    # List Contexts
    # List all context instances for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_context_type 
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;key&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;key&#x60;, &#x60;-key&#x60;, &#x60;name&#x60;, &#x60;-name&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'key')
    # @return [Array<(ContextListResponse, Integer, Hash)>] ContextListResponse data, response status code and response headers
    def list_contexts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextsApi.list_contexts ...'
      end
      allowable_values = ["created_at", "-created_at", "key", "-key", "name", "-name", "updated_at", "-updated_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/contexts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[context_type]'] = opts[:'filter_context_type'] if !opts[:'filter_context_type'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContextListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ContextsApi.list_contexts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextsApi#list_contexts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Context
    # Update a context instance by composite id (type:key). Only the human-readable display name is mutable here; `context_type` and observed `attributes` are written by SDK registration and ignored on this endpoint.
    # @param id [String] 
    # @param context_request [ContextRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContextResponse]
    def update_context(id, context_request, opts = {})
      data, _status_code, _headers = update_context_with_http_info(id, context_request, opts)
      data
    end

    # Update Context
    # Update a context instance by composite id (type:key). Only the human-readable display name is mutable here; &#x60;context_type&#x60; and observed &#x60;attributes&#x60; are written by SDK registration and ignored on this endpoint.
    # @param id [String] 
    # @param context_request [ContextRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextResponse, Integer, Hash)>] ContextResponse data, response status code and response headers
    def update_context_with_http_info(id, context_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextsApi.update_context ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContextsApi.update_context"
      end
      # verify the required parameter 'context_request' is set
      if @api_client.config.client_side_validation && context_request.nil?
        fail ArgumentError, "Missing the required parameter 'context_request' when calling ContextsApi.update_context"
      end
      # resource path
      local_var_path = '/api/v1/contexts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(context_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContextResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"ContextsApi.update_context",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextsApi#update_context\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
