=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class GroupMembershipsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Group Membership
    # Add a user to a group. The body references the user (UUID) and the group (key) in the resource attributes. Returns `409` if this user is already a member of this group, or `422` if either the user is not a member of the account or the group does not exist.
    # @param group_membership_request [GroupMembershipRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupMembershipResponse]
    def create_group_membership(group_membership_request, opts = {})
      data, _status_code, _headers = create_group_membership_with_http_info(group_membership_request, opts)
      data
    end

    # Create Group Membership
    # Add a user to a group. The body references the user (UUID) and the group (key) in the resource attributes. Returns &#x60;409&#x60; if this user is already a member of this group, or &#x60;422&#x60; if either the user is not a member of the account or the group does not exist.
    # @param group_membership_request [GroupMembershipRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupMembershipResponse, Integer, Hash)>] GroupMembershipResponse data, response status code and response headers
    def create_group_membership_with_http_info(group_membership_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupMembershipsApi.create_group_membership ...'
      end
      # verify the required parameter 'group_membership_request' is set
      if @api_client.config.client_side_validation && group_membership_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_membership_request' when calling GroupMembershipsApi.create_group_membership"
      end
      # resource path
      local_var_path = '/api/v1/group_memberships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_membership_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupMembershipResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"GroupMembershipsApi.create_group_membership",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupMembershipsApi#create_group_membership\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Group Membership
    # Remove a user from a group. Returns `409` when removing the membership would leave the user with no group memberships in this account — every user must belong to at least one group.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_membership(id, opts = {})
      delete_group_membership_with_http_info(id, opts)
      nil
    end

    # Delete Group Membership
    # Remove a user from a group. Returns &#x60;409&#x60; when removing the membership would leave the user with no group memberships in this account — every user must belong to at least one group.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_membership_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupMembershipsApi.delete_group_membership ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GroupMembershipsApi.delete_group_membership"
      end
      # resource path
      local_var_path = '/api/v1/group_memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"GroupMembershipsApi.delete_group_membership",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupMembershipsApi#delete_group_membership\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Group Membership
    # Return a single membership by id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GroupMembershipResponse]
    def get_group_membership(id, opts = {})
      data, _status_code, _headers = get_group_membership_with_http_info(id, opts)
      data
    end

    # Get Group Membership
    # Return a single membership by id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupMembershipResponse, Integer, Hash)>] GroupMembershipResponse data, response status code and response headers
    def get_group_membership_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupMembershipsApi.get_group_membership ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GroupMembershipsApi.get_group_membership"
      end
      # resource path
      local_var_path = '/api/v1/group_memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupMembershipResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"GroupMembershipsApi.get_group_membership",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupMembershipsApi#get_group_membership\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Group Memberships
    # List group memberships in the authenticated account. Pass `filter[group]` (a group key) to list members of a single group, or `filter[user]` (a UUID) to list a single user's memberships. The two filters may be combined to look up a specific (user, group) pair.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_group Group key to narrow the result to memberships in that group.
    # @option opts [String] :filter_user User UUID to narrow the result to memberships for that user.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;created_at&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'created_at')
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [GroupMembershipListResponse]
    def list_group_memberships(opts = {})
      data, _status_code, _headers = list_group_memberships_with_http_info(opts)
      data
    end

    # List Group Memberships
    # List group memberships in the authenticated account. Pass &#x60;filter[group]&#x60; (a group key) to list members of a single group, or &#x60;filter[user]&#x60; (a UUID) to list a single user&#39;s memberships. The two filters may be combined to look up a specific (user, group) pair.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_group Group key to narrow the result to memberships in that group.
    # @option opts [String] :filter_user User UUID to narrow the result to memberships for that user.
    # @option opts [String] :sort Field to sort by. Prefix with &#x60;-&#x60; for descending order. Default: &#x60;created_at&#x60;. Allowed values: &#x60;created_at&#x60;, &#x60;-created_at&#x60;, &#x60;updated_at&#x60;, &#x60;-updated_at&#x60;. (default to 'created_at')
    # @option opts [Integer] :page_number 1-based page number to return. Optional; defaults to &#x60;1&#x60; when omitted. Must be &#x60;&gt;&#x3D; 1&#x60; — requests with a smaller value are rejected with a 400 error. (default to 1)
    # @option opts [Integer] :page_size Number of items per page. Optional; defaults to &#x60;1000&#x60; when omitted. Must be between &#x60;1&#x60; and &#x60;1000&#x60; inclusive — requests outside that range are rejected with a 400 error. (default to 1000)
    # @option opts [Boolean] :meta_total When &#x60;true&#x60;, the response&#39;s &#x60;meta.pagination&#x60; block includes &#x60;total&#x60; (the total number of matching items across all pages) and &#x60;total_pages&#x60;. Computing these requires an extra &#x60;COUNT&#x60; query, so omit (or pass &#x60;false&#x60;) when the totals are not needed. Defaults to &#x60;false&#x60;. (default to false)
    # @return [Array<(GroupMembershipListResponse, Integer, Hash)>] GroupMembershipListResponse data, response status code and response headers
    def list_group_memberships_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupMembershipsApi.list_group_memberships ...'
      end
      allowable_values = ["created_at", "-created_at", "updated_at", "-updated_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/group_memberships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[group]'] = opts[:'filter_group'] if !opts[:'filter_group'].nil?
      query_params[:'filter[user]'] = opts[:'filter_user'] if !opts[:'filter_user'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'page[number]'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'page[size]'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'meta[total]'] = opts[:'meta_total'] if !opts[:'meta_total'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupMembershipListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"GroupMembershipsApi.list_group_memberships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupMembershipsApi#list_group_memberships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
