=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class MetricsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Ingest Metrics
    # Ingest pre-aggregated metric data points. Returns 202 Accepted with no response body.
    # @param metric_bulk_request [MetricBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bulk_ingest_metrics(metric_bulk_request, opts = {})
      bulk_ingest_metrics_with_http_info(metric_bulk_request, opts)
      nil
    end

    # Bulk Ingest Metrics
    # Ingest pre-aggregated metric data points. Returns 202 Accepted with no response body.
    # @param metric_bulk_request [MetricBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def bulk_ingest_metrics_with_http_info(metric_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.bulk_ingest_metrics ...'
      end
      # verify the required parameter 'metric_bulk_request' is set
      if @api_client.config.client_side_validation && metric_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'metric_bulk_request' when calling MetricsApi.bulk_ingest_metrics"
      end
      # resource path
      local_var_path = '/api/v1/metrics/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(metric_bulk_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"MetricsApi.bulk_ingest_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#bulk_ingest_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Metric Names
    # Return distinct metric names (with a representative unit) for this account.  Used by the dashboard to discover which product sections to render. Plain JSON response (not JSON:API) — this is metadata, not a metric resource.
    # @param [Hash] opts the optional parameters
    # @return [MetricNamesResponse]
    def list_metric_names(opts = {})
      data, _status_code, _headers = list_metric_names_with_http_info(opts)
      data
    end

    # List Metric Names
    # Return distinct metric names (with a representative unit) for this account.  Used by the dashboard to discover which product sections to render. Plain JSON response (not JSON:API) — this is metadata, not a metric resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MetricNamesResponse, Integer, Hash)>] MetricNamesResponse data, response status code and response headers
    def list_metric_names_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.list_metric_names ...'
      end
      # resource path
      local_var_path = '/api/v1/metric_names'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetricNamesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"MetricsApi.list_metric_names",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#list_metric_names\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Metric Rollups
    # Query aggregated metric rollups. Requires filter[rollup] for the aggregation interval.
    # @param filter_name [String] 
    # @param filter_rollup [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_recorded_at 
    # @return [MetricRollupListResponse]
    def list_metric_rollups(filter_name, filter_rollup, opts = {})
      data, _status_code, _headers = list_metric_rollups_with_http_info(filter_name, filter_rollup, opts)
      data
    end

    # List Metric Rollups
    # Query aggregated metric rollups. Requires filter[rollup] for the aggregation interval.
    # @param filter_name [String] 
    # @param filter_rollup [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_recorded_at 
    # @return [Array<(MetricRollupListResponse, Integer, Hash)>] MetricRollupListResponse data, response status code and response headers
    def list_metric_rollups_with_http_info(filter_name, filter_rollup, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.list_metric_rollups ...'
      end
      # verify the required parameter 'filter_name' is set
      if @api_client.config.client_side_validation && filter_name.nil?
        fail ArgumentError, "Missing the required parameter 'filter_name' when calling MetricsApi.list_metric_rollups"
      end
      # verify the required parameter 'filter_rollup' is set
      if @api_client.config.client_side_validation && filter_rollup.nil?
        fail ArgumentError, "Missing the required parameter 'filter_rollup' when calling MetricsApi.list_metric_rollups"
      end
      # resource path
      local_var_path = '/api/v1/metric_rollups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[name]'] = filter_name
      query_params[:'filter[rollup]'] = filter_rollup
      query_params[:'filter[recorded_at]'] = opts[:'filter_recorded_at'] if !opts[:'filter_recorded_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetricRollupListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"MetricsApi.list_metric_rollups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#list_metric_rollups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Metrics
    # Query raw metric rows with filtering by name, time range, and dimensions.
    # @param filter_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_recorded_at 
    # @return [MetricListResponse]
    def list_metrics(filter_name, opts = {})
      data, _status_code, _headers = list_metrics_with_http_info(filter_name, opts)
      data
    end

    # List Metrics
    # Query raw metric rows with filtering by name, time range, and dimensions.
    # @param filter_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_recorded_at 
    # @return [Array<(MetricListResponse, Integer, Hash)>] MetricListResponse data, response status code and response headers
    def list_metrics_with_http_info(filter_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.list_metrics ...'
      end
      # verify the required parameter 'filter_name' is set
      if @api_client.config.client_side_validation && filter_name.nil?
        fail ArgumentError, "Missing the required parameter 'filter_name' when calling MetricsApi.list_metrics"
      end
      # resource path
      local_var_path = '/api/v1/metrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[name]'] = filter_name
      query_params[:'filter[recorded_at]'] = opts[:'filter_recorded_at'] if !opts[:'filter_recorded_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetricListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"MetricsApi.list_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#list_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
