=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class SSOApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Claim SSO Domain
    # Claim a domain for SSO routing. Idempotent — re-claiming a domain already held by the account is a no-op success. The response includes the DNS TXT token to publish.
    # @param domain [String] 
    # @param sso_domain_request [SSODomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SSODomainResponse]
    def claim_sso_domain(domain, sso_domain_request, opts = {})
      data, _status_code, _headers = claim_sso_domain_with_http_info(domain, sso_domain_request, opts)
      data
    end

    # Claim SSO Domain
    # Claim a domain for SSO routing. Idempotent — re-claiming a domain already held by the account is a no-op success. The response includes the DNS TXT token to publish.
    # @param domain [String] 
    # @param sso_domain_request [SSODomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSODomainResponse, Integer, Hash)>] SSODomainResponse data, response status code and response headers
    def claim_sso_domain_with_http_info(domain, sso_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.claim_sso_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling SSOApi.claim_sso_domain"
      end
      # verify the required parameter 'sso_domain_request' is set
      if @api_client.config.client_side_validation && sso_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'sso_domain_request' when calling SSOApi.claim_sso_domain"
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_domains/{domain}'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sso_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SSODomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.claim_sso_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#claim_sso_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SSO Connection
    # Soft-delete the account's SSO connection. Domains are preserved.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sso_connection(opts = {})
      delete_sso_connection_with_http_info(opts)
      nil
    end

    # Delete SSO Connection
    # Soft-delete the account&#39;s SSO connection. Domains are preserved.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sso_connection_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.delete_sso_connection ...'
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_connection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.delete_sso_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#delete_sso_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SSO Connection
    # Return the SSO connection for the current account, including computed Service Provider metadata. Returns `404` when no connection has been configured.
    # @param [Hash] opts the optional parameters
    # @return [SSOConnectionResponse]
    def get_sso_connection(opts = {})
      data, _status_code, _headers = get_sso_connection_with_http_info(opts)
      data
    end

    # Get SSO Connection
    # Return the SSO connection for the current account, including computed Service Provider metadata. Returns &#x60;404&#x60; when no connection has been configured.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSOConnectionResponse, Integer, Hash)>] SSOConnectionResponse data, response status code and response headers
    def get_sso_connection_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.get_sso_connection ...'
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_connection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSOConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.get_sso_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#get_sso_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SSO Domains
    # List the domains claimed by the current account, including each row's verification status.
    # @param [Hash] opts the optional parameters
    # @return [SSODomainListResponse]
    def list_sso_domains(opts = {})
      data, _status_code, _headers = list_sso_domains_with_http_info(opts)
      data
    end

    # List SSO Domains
    # List the domains claimed by the current account, including each row&#39;s verification status.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSODomainListResponse, Integer, Hash)>] SSODomainListResponse data, response status code and response headers
    def list_sso_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.list_sso_domains ...'
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSODomainListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.list_sso_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#list_sso_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Replace SSO Connection
    # Create-or-replace the account's SSO connection. The OIDC `client_secret` is write-only; supply it on first creation, omit on subsequent updates to retain the stored value.
    # @param sso_connection_request [SSOConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SSOConnectionResponse]
    def put_sso_connection(sso_connection_request, opts = {})
      data, _status_code, _headers = put_sso_connection_with_http_info(sso_connection_request, opts)
      data
    end

    # Create or Replace SSO Connection
    # Create-or-replace the account&#39;s SSO connection. The OIDC &#x60;client_secret&#x60; is write-only; supply it on first creation, omit on subsequent updates to retain the stored value.
    # @param sso_connection_request [SSOConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSOConnectionResponse, Integer, Hash)>] SSOConnectionResponse data, response status code and response headers
    def put_sso_connection_with_http_info(sso_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.put_sso_connection ...'
      end
      # verify the required parameter 'sso_connection_request' is set
      if @api_client.config.client_side_validation && sso_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'sso_connection_request' when calling SSOApi.put_sso_connection"
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_connection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sso_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SSOConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.put_sso_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#put_sso_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Release SSO Domain
    # Release a previously-claimed SSO domain.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def release_sso_domain(domain, opts = {})
      release_sso_domain_with_http_info(domain, opts)
      nil
    end

    # Release SSO Domain
    # Release a previously-claimed SSO domain.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def release_sso_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.release_sso_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling SSOApi.release_sso_domain"
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_domains/{domain}'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.release_sso_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#release_sso_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify SSO Domain
    # Run the DNS TXT check for a claimed domain. Returns the updated resource on success. Returns `409` if a different account has already verified this domain. Returns `422` when the DNS TXT record has not yet been published or does not match the expected token.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [SSODomainResponse]
    def verify_sso_domain(domain, opts = {})
      data, _status_code, _headers = verify_sso_domain_with_http_info(domain, opts)
      data
    end

    # Verify SSO Domain
    # Run the DNS TXT check for a claimed domain. Returns the updated resource on success. Returns &#x60;409&#x60; if a different account has already verified this domain. Returns &#x60;422&#x60; when the DNS TXT record has not yet been published or does not match the expected token.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSODomainResponse, Integer, Hash)>] SSODomainResponse data, response status code and response headers
    def verify_sso_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SSOApi.verify_sso_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling SSOApi.verify_sso_domain"
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/sso_domains/{domain}/actions/verify'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSODomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SSOApi.verify_sso_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSOApi#verify_sso_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
