=begin
#smplkit API

#API for the smplkit platform.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module SmplkitGeneratedClient::App
  class SubscriptionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Replace Account Subscription (admin)
    # Admin replacement of a specific account's subscription.  Accepts the same body shape as the customer endpoint plus ``discount_override_pct``. Setting the override to 100 skips the billing provider entirely; lowering it below 100 requires a payment method on file for the target account.
    # @param account_id [String] 
    # @param admin_subscription_request [AdminSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionResponse]
    def admin_put_account_subscription(account_id, admin_subscription_request, opts = {})
      data, _status_code, _headers = admin_put_account_subscription_with_http_info(account_id, admin_subscription_request, opts)
      data
    end

    # Replace Account Subscription (admin)
    # Admin replacement of a specific account&#39;s subscription.  Accepts the same body shape as the customer endpoint plus &#x60;&#x60;discount_override_pct&#x60;&#x60;. Setting the override to 100 skips the billing provider entirely; lowering it below 100 requires a payment method on file for the target account.
    # @param account_id [String] 
    # @param admin_subscription_request [AdminSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionResponse, Integer, Hash)>] SubscriptionResponse data, response status code and response headers
    def admin_put_account_subscription_with_http_info(account_id, admin_subscription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.admin_put_account_subscription ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SubscriptionApi.admin_put_account_subscription"
      end
      # verify the required parameter 'admin_subscription_request' is set
      if @api_client.config.client_side_validation && admin_subscription_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_subscription_request' when calling SubscriptionApi.admin_put_account_subscription"
      end
      # resource path
      local_var_path = '/api/v1/accounts/{account_id}/subscription'.sub('{account_id}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_subscription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SubscriptionApi.admin_put_account_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#admin_put_account_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Current Subscription
    # Return the authenticated account's subscription, or 404 if none exists.
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionResponse]
    def get_current_subscription(opts = {})
      data, _status_code, _headers = get_current_subscription_with_http_info(opts)
      data
    end

    # Get Current Subscription
    # Return the authenticated account&#39;s subscription, or 404 if none exists.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionResponse, Integer, Hash)>] SubscriptionResponse data, response status code and response headers
    def get_current_subscription_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.get_current_subscription ...'
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/subscription'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SubscriptionApi.get_current_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#get_current_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Subscription Change
    # Project the result of replacing the subscription with the desired state.  No database or billing-provider changes are made; safe to call as the customer iterates on a plan picker.
    # @param subscription_request [SubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionPreviewResponse]
    def preview_current_subscription(subscription_request, opts = {})
      data, _status_code, _headers = preview_current_subscription_with_http_info(subscription_request, opts)
      data
    end

    # Preview Subscription Change
    # Project the result of replacing the subscription with the desired state.  No database or billing-provider changes are made; safe to call as the customer iterates on a plan picker.
    # @param subscription_request [SubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionPreviewResponse, Integer, Hash)>] SubscriptionPreviewResponse data, response status code and response headers
    def preview_current_subscription_with_http_info(subscription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.preview_current_subscription ...'
      end
      # verify the required parameter 'subscription_request' is set
      if @api_client.config.client_side_validation && subscription_request.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_request' when calling SubscriptionApi.preview_current_subscription"
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/subscription/actions/preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionPreviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SubscriptionApi.preview_current_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#preview_current_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace Current Subscription
    # Replace the authenticated account's subscription with the desired state.
    # @param subscription_request [SubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionResponse]
    def put_current_subscription(subscription_request, opts = {})
      data, _status_code, _headers = put_current_subscription_with_http_info(subscription_request, opts)
      data
    end

    # Replace Current Subscription
    # Replace the authenticated account&#39;s subscription with the desired state.
    # @param subscription_request [SubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionResponse, Integer, Hash)>] SubscriptionResponse data, response status code and response headers
    def put_current_subscription_with_http_info(subscription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.put_current_subscription ...'
      end
      # verify the required parameter 'subscription_request' is set
      if @api_client.config.client_side_validation && subscription_request.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_request' when calling SubscriptionApi.put_current_subscription"
      end
      # resource path
      local_var_path = '/api/v1/accounts/current/subscription'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"SubscriptionApi.put_current_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#put_current_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
